.red-line {
  border: 2px solid red;
}

/* CUSTOM FONTS */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/* ========== DEFAULT CSS ========== */
* {
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient(to right top, #d16ba5, #cc80c0, #c594d6, #bda7e7, #b7b9f4, #c1b7ec, #c8b6e3, #ccb6db, #cda8bc, #c09ea2, #ad9690, #978e86);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.white-font {
  color: #fff;
}

a {
  color: #fff !important;
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-top-100 {
  padding-top: 100px !important;
}

/* a:hover {
  filter: invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(75%) contrast(0%);
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-align-left {
  text-align: left !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav.navbar {
  padding: 14px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
  background-color: #9785A8;
}

/*
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #211e1e;
}
*/

nav.navbar a.navbar-barnd {
  width: 9%;
}

/* ========== STYLING FOR LINKS ========== */
nav.navbar .navbar-nav .nav-link .navbar-link {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #000000 !important;
}

.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5)
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #fff !important;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

/*
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
*/

.skill-bx,
.about-bx,
.project-bx {
  color: #fff;
  margin-top: 100px;
}

.jc-space {
  display: flex;
  justify-content: space-evenly;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
  right: 60%;
}

.name-logo {
  height: 40px;
  width: 40vh;
}

/* ========== BANNER ========== */
.headshot-banner {
  height: 70vh;
  margin-top: 150px;
  margin-left: 100px;
  border-radius: 500px;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #5e5555;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.cat-icon {
  position: absolute;
  height: 300px;
  width: 300px;
  position: relative;
  animation: updown 5s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

.tagline {
  margin-top: 110px;
}

/* ========== ABOUT ========== */

.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about p {
  text-align: left;
}

.about-cards {
  padding: 50px;
}

.about-labels {
  text-align: left;
  background-image: linear-gradient(to left, rgb(241, 48, 186), rgb(168, 90, 224));
  background-clip: text;
  color: transparent;
}

.about-description {
  background-image: linear-gradient(to left, rgb(79, 72, 77), rgb(123, 72, 159));
  background-clip: text;
  color: transparent;
  text-align: left !important;
}

.about-labels:hover {
  background-image: linear-gradient(to left, rgb(41, 179, 207), rgb(255, 106, 235));
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.about-description:hover {
  cursor: pointer;
}

.aboutme-description {
  font-size: 16px;
  background-image: linear-gradient(to left, rgb(79, 72, 77), rgb(123, 72, 159));
  background-clip: text;
  color: transparent;
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.5s;
}

.about-art {
  height: 485px;
  width: 680px;
}

.about-art:hover {
  cursor: pointer;
}

.about-icons {
  height: 250px;
  width: 300px;
  border-radius: 12px;
}

.about-labels {
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.5s;
}


/* ========== SKILLS ========== */
.skill-label {
  color: #5e5555;
  font-weight: bold;
}

.skills-icon {
  height: 150px;
  width: 120px;
  padding: 5px;
  transform: translateY(0);
  transition: transform 0.5s, opacity 0.5s;
}

.skills-icon:hover,
.slide-up:hover{
  cursor: pointer;
  transform: translateY(-10);
}

/* ========== PROJECTS ========== */
.project-screenshot {
  height: 250px;
  width: 400px;
}

.project-screenshot:hover {
  cursor: pointer;
  opacity: 0.4;
}

/* ========== CONTACT ========== */

.contact {
  background: linear-gradient(90.21deg, #AA367 -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}

.send-btn {
  text-align: right;
}

.all-rights {
  margin-top: 20px;
  color: white;
}

/*

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(220, 220, 220, 0.5);
  border-radius: 20px;
  color: #211B1B;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus, .contact form textarea:focus {
  background: rbga(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
} */
